# Python basics 

by Vikram Khaire  

Computational Physics (PH504M) at IIT Tirupati

Date: January 7, 2025

Applicable for version 3.0 and above

* Printing output: use print(); Print() does not work (python is case sensitive)

In [1]:
print("Hellow class")

Hellow class

In [2]:
print('Hellow class') # ' and " are used interchangably

Hellow class

In [3]:
print(2+3-3*10)

-25

Note: in jupyter notebook or ipython you don't have to write print()

In [4]:
2+3-3*10

-25

In [5]:
print(27/11); print(27/9); print(27/10); print(3*4); print(3.0*4)

2.4545454545454546
3.0
2.7
12
12.0

Note: 1. print statements are seperated by ;
2. Division is always float but the multiplication is not unless at least one of the numbers in multiplication is a float

In [6]:
a=25.0
b=334
c='vikram'
d=False
e=[2, 3, 4.9, 'yes', 'India']
print(a); print(b); print(c); print(d); print(e)

25.0
334
vikram
False
[2, 3, 4.9, 'yes', 'India']

* Types of the inputs (Float, Integer, String, Boolean)

In [7]:
print(type(a))

<class 'float'>

In [8]:
print(type(b))

<class 'int'>

In [9]:
print(type(c))

<class 'str'>

In [10]:
print(type(d))

<class 'bool'>

In [11]:
print(type(e))

<class 'list'>

* Operations on different types

In [12]:
print('a'+'b')

ab

In [13]:
print(a+b)

359.0

True and False are very important booleans

In [14]:
print(True + False)

1

In [15]:
print(True)

True

In [16]:
print(True**2)

1

In [17]:
print(True * False)

0

In [18]:
print(True + True)

2

... because True=1 & False=0 (use True not true i.e capital T and not small t)

* Changing the type for some operation

In [19]:
x='Answer to life, the universe, and everything is '
ans=42
print(x + str(ans) + '! :)')

Answer to life, the universe, and everything is 42! :)

In [20]:
a=5
b=5
c=a*b
print(str(a)+' times '+str(b) +' equals '+str(c))

5 times 5 equals 25

* List manipulations (note actual arrays will be slightly different)

In [21]:
e=[2,3,5,3.5, 9, 8, 'yes', 'India', 'last']
print(e)

[2, 3, 5, 3.5, 9, 8, 'yes', 'India', 'last']

In [22]:
a=e # Let's call a =e so that a is also the same list e
print(a)

[2, 3, 5, 3.5, 9, 8, 'yes', 'India', 'last']

...here 'a' is new list but it is not correct way to define 'a', as you can see later

In [23]:
print(a[0])
print(a[-1])
print(a[4])

2
last
9

... array/list starts from index 0 and index -1 is the last number in list/array (cool!)

In [24]:
print(a[0:5])
print(a[:5])
print(a[5:9])
print(a[5:])

[2, 3, 5, 3.5, 9]
[2, 3, 5, 3.5, 9]
[8, 'yes', 'India', 'last']
[8, 'yes', 'India', 'last']

...a[x:y] will slice array from xth element to (y-1)th element 
...also a[x:] will pick all numbers after xth element including xth element
...similarly a[:y] will pick all elements before yth element (not including yth element)

In [25]:
a[::2]

[2, 5, 9, 'yes', 'last']

quick way of reversing array

In [26]:
a[::-1]

['last', 'India', 'yes', 8, 9, 3.5, 5, 3, 2]

In [27]:
# example 1d list manipulation
aa=[0,1,2,3,4,5,6,7,8,9,10,11,12]
print(aa[: :2]) # select elements with seperation 2
print(aa[1: :2])# select elements with seperation 2 but from second element
print(aa[: :5]) # select elements with seperation 5
print(aa[: :1]) # select elements with seperation 1= same array
print(aa[: :-1])# select elements with seperation -1= array reversed
print(aa[: :-2])# select elements with seperation -2 
print(aa[:1 :-2])# select elements with seperation -2 but up to second  last element

[0, 2, 4, 6, 8, 10, 12]
[1, 3, 5, 7, 9, 11]
[0, 5, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[12, 10, 8, 6, 4, 2, 0]
[12, 10, 8, 6, 4, 2]

...note on how to assign two different arrays

In [28]:
print(a)

[2, 3, 5, 3.5, 9, 8, 'yes', 'India', 'last']

In [29]:
print(e)

[2, 3, 5, 3.5, 9, 8, 'yes', 'India', 'last']

...notice that both lists are same  ... now delete an element of a with del() function

In [30]:
del(a[0]) # you can also use a.remove(a[0])

In [31]:
print(a)

[3, 5, 3.5, 9, 8, 'yes', 'India', 'last']

In [32]:
print(e)

[3, 5, 3.5, 9, 8, 'yes', 'India', 'last']

...notice that you deleted first element in list a but it got deleted from list e as well   ...reason for this is the way we assigned the list a and e in Input line [16], it did not create another array rather just give two different name to the stored array/list

...correct way of doing this (creating new array a which is same as b so that you play with a without screawing e) 
is as follows

In [33]:
a=list(e)

In [34]:
del(a[4:])
print(a)
print(e)

[3, 5, 3.5, 9]
[3, 5, 3.5, 9, 8, 'yes', 'India', 'last']

...another way is

In [35]:
b=e[:]
del(b[:5])
print(b)
print(e)

['yes', 'India', 'last']
[3, 5, 3.5, 9, 8, 'yes', 'India', 'last']